@model edxl_cap_v1_2.Models.ContentViewModels.AreaViewModel

@{
    ViewData["Title"] = "AreaPick";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

@{
    <h4>@Model.Areas.Count Alerts</h4>

    <form asp-controller="Areas" asp-action="PickArea" method="post">
        <select class="cap_select" id="cap_select" style="width:100%;max-width:95%;"
                asp-for="SelectedAlertIndex" asp-items="Model.Alert_Identifiers">
            <option>Select one</option>
        </select>
        <br />
        <input type="submit" name="PickArea" value="Pick Area to Assemble EDXL-Cap Message" />
    </form>
}

